
#body {
    background: #fff url(/images/gradient.jpg) repeat-x;
   /* padding-top: 50px; */
    font: 12px "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
    color: #000;
    height: 100%;
}
audio {
	display: none;
}
div#container {
    width: 744px;
    margin: 0px auto;
}
/********Content ********/
div#content {
    background: #fff url(/images/content-bg.png) repeat-x;
    border: 1px solid #ABABAB;
    padding: 20px 28px;
    border-top: none;
    height: 366px;
}

textarea.userInfoField {
	font-size:12px;
	font-family: Monaco, "Courier New", monospace;
}

div#errorMessage {
	margin-top:4px;
	margin-bottom:2px;
}

/******** Navigation ********/
div#navigation {
    background: #444 url(/images/nav.jpg) no-repeat;
    background: none;
    border-bottom: 1px solid #ABABAB;
    height: 53px;
    font-size: 1.1em;
    -moz-user-select: none;
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    user-select: none;
}
div#navigation ul {
    height: 53px;
    list-style: none;
    margin: 0px 112px;
}
div#navigation ul li {
    display: block;
    float: left;
}

div#navigation ul li a {
    text-decoration: none;
    display: block;
    background-repeat: no-repeat;
    background-position: 2px 18px;
    padding-top: 25px;
    padding-left: 36px;
    padding-right: 15px;
    height: 28px;
    color: #000;
}
div#navigation ul li.front div {
    background: url(/images/front-line.png) no-repeat right bottom;
}
div#navigation ul li.back {
}
div#navigation ul li.front, div#navigation ul li.front:hover {
    border-bottom: 1px solid #EAEAEA;
    background: url(/images/front.png) no-repeat;
    padding-right: 0px;
}
#nav_chat a {
    background-image: url(/images/chat.png);
}
#nav_private a {
    background-image: url(/images/private.png);
}
#nav_news a {
    background-image: url(/images/news.png);
}
#nav_files a {
    background-image: url(/images/files.png);
}
#nav_connection a {
    background-image: url(/images/connection.png);
}
div#navigation ul li:hover {
    background-image: url(/images/hover.png);
}

div.chat_scroll_view {
	border: 1px solid #d4d4d4;
	background: #fff;
	height:100%;
}

div.chat_view {
	background: #fff;
	height:100%;
}

div.gwt-hsplitter {
	cursor: col-resize;
}

table.hsplitter {
	width: 10px;
}

table.hsplitter tr {
	display:none;
}

div.userlist {
	border: 1px solid #d4d4d4;
	background: #fff;
	height: 100%;
	overflow-y: scroll;
	-moz-user-select: none;
	-webkit-user-select: none; 
	-khtml-user-select: none; 
}

div.user {
	cursor: pointer;
	height: 21px;
	line-height: 22px;
	overflow: hidden;
	white-space: nowrap;
	-webkit-user-select: none;
}

div.user img {
	display: inline;
	margin-right: 5px;
	margin-left: 5px;
	margin-bottom: 1px;
	top: -1px;
	vertical-align: middle;
	width: 16px;
}

div.user span {
	font-size: 12px;
}

div.user.selected {
	background-color: #C7D3E9;
}

.color0 { color: #000; }
.color1 { color: #888; }
.color2 { color: #FF0000; }
.color3 { color: #FF8888; }

/* file-list */

.list {
	border-collapse: collapse;
	background: white;
	border:1px solid #aaa;
	width: 100%;
}

.list td {
	height: 21px;
	vertical-align: center;
}

.list tr.th td {
	padding: 0 0 0 12px;
	margin: 0;
	height: 20px;
	background: #ccc;
	text-align: left;
	background: url(/images/th.png) repeat-x;
	border-bottom: 1px solid #ccc;
	font-weight: bold;
}
